/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

html,
body {
	height:100%;
}
body {
	margin:0px;
	font-family:'Roboto', sans-serif;
	background-position:center -46px;
	background-repeat:no-repeat;
	background-color:#000;
	color:#FFF;
}

body.module1 {background-image:url("../images/mod1/module1BG.jpg");}
body.module2 {background-image:url("../images/mod2/module2BG.jpg");}
body.module3 {background-image:url("../images/mod3/module3BG.jpg");}
body.module4 {background-image:url("../images/mod4/module4BG.jpg");}

a {
	text-decoration:none;
	color:#f1cb31;
}
.highlight {
	color:#f1cb31;
}
.button {
	font-weight:bold;
	color:#f1cb31;
	text-shadow:0px 0px 4px #000;
	cursor:pointer;
	float:right;
	padding:10px;
	font-size:18px;
}
span.skip.button {
	position:relative;
	bottom:50px;
}
.button:hover {
	color:#FFF3C2;
}
h1, h2, h3, h4, h5, h6 {
	padding:0px;
	margin:0px;
	margin-bottom:5px;
	color:#f1cb31;
}


/*

################### Header Section ####################

*/
#header {
	position:relative;
	height:70px;
	background-color:#162235;
	padding:20px;
	box-shadow:0px 0px 45px #000;
	z-index:999;
}
#header img {
	float:left;
	margin:-20px;
}
#header a {
		position:relative;
		top:-20px;
}
#header h1,
#header h2 {
	margin:0px;
	color:#FFFFFF;
	font-weight:normal;
	position:relative;
}
#header h1 {
	text-transform:uppercase; 
	font-size:40px;
	line-height:40px;
}
#header h2 {
	font-size:18px;
	letter-spacing:2px;
	color:#f1cb31;
}
#header a#return {
	float:right;
}


/*

################### Subnav Section ####################

*/
#subnav {
	background-image:url("../images/subnav.png");
	background-position:bottom center;
	background-repeat:no-repeat;
	height:170px;
	position:relative;
	z-index:10 !important;
}
#subnav_content {
	margin:0px auto;
	padding:11px;
	position:relative;
	z-index:15 !important;
	clear:none;
}
body.module1 #subnav_content {
	width:57%; /* Ensures margin:0px auto works and links are centered to page */
}
body.module2 #subnav_content {
	width:38%; /* Ensures margin:0px auto works and links are centered to page */
}
#subnav a {
	color:#FFF;
	display:block;
	float:left;
	margin:0px 10px 0px 26px;
	text-shadow:0px 0px 6px #000;
	padding:5px 0px;
	clear:none;
}
#subnav a:hover {
	color:#f1cb31;
}
#subnav a.active {
	color:#f1cb31;
	font-weight:bold;
	cursor:default;
}
#subnav a.locked {
	color:#CCC;
	cursor:no-drop;
	padding-left:22px;
	background-image:url("../images/small_lock.png");
	background-position:center left;
	background-repeat:no-repeat;
}
#subnav span.arrow {
	width:50px;
	height:15px;
	display:block;
	float:left;
	background-image:url("../images/arrow.png");
	background-position:center;
	background-repeat:no-repeat;
	clear:none;
	padding:9px 0px;
}
#subnav span.arrow.locked {
	background-image:url("../images/arrow_locked.png");
}


/*

################### Content Section ####################

*/
.box {
	border-radius:25px;
	border:4px solid #FFF;
	/*background:rgba(243,204,48,0.85);*/
	width:160px;
	height:35px;
	float:left;
	font-size:35px;
	padding:9px 9px 20px 9px;
	text-align:center;
	-webkit-transition:box-shadow 0.5s ease-in-out;
    -moz-transition:box-shadow 0.5s ease-in-out;
    -o-transition:box-shadow 0.5s ease-in-out;
    -ms-transition:box-shadow 0.5s ease-in-out;
    transition:box-shadow 0.5s ease-in-out;
}
.close-exer { /* formerly exer#_close */
	background:rgba(0,0,0,0.3);
	color:#FFF;
	border-radius:15px;
	height:22px;
	width:22px;
	text-align:center;
	float:right;
	border:2px solid #FFF;
	cursor:pointer;
	position:relative;
	padding:2px;
	font-size:16px;
	margin-top:-45px;
	margin-right:-80px;
}
#console {
	height:330px;
	background-image:url("../images/lowerBG.png");
	background-position:top center;
	background-repeat:no-repeat;
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
}
#content {
	position:absolute;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	padding-top:200px;
	overflow:auto;
}
#content p {
	margin-bottom:0px;
}
#dinoImages {
	position:relative;
	width:1000px;
	height:424px;
	margin:0px auto;
	padding-top:90px;
	padding-left:130px;
}
#drawer {
	background-image:url("../images/drawer.png");
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	height:132px !important;
	width:1110px;
	margin:-16px auto 0px auto !important;
}
#forest {
	background-image:url("../images/forest.png");
	background-position:top center;
	background-repeat:no-repeat;
	position:absolute;
	bottom:130px;
	left:0px;
	right:0px;
}
#forest-raised {
	background-image:url("../images/forest-raised.png");
	background-position:top center;
	background-repeat:no-repeat;
	position:absolute;
	bottom:130px;
	left:0px;
	right:0px;
}
#pond { /* style being changed dynamically for effect */
	background-image:url("../images/pond.png");
	background-position:top center;
	background-repeat:no-repeat;
	position:relative;
	opacity:0;
	height:0px;
	width:1110px;
	margin:0px auto;
	margin-top:115px;
}
#table {
	background-image:url("../images/mod2/dino-table.png");
	background-position:top center;
	background-repeat:no-repeat;
	position:absolute;
	bottom:30px;
	left:0px;
	right:0px;
}
#text {
	color:#FFF;
	width:850px;
	margin:0px auto;
	padding:20px 35px;
	font-size: 20px;
	display: none;
	clear:both;
	text-shadow:0px 0px 6px #000;
}
#text p {
	margin-top:0px;
}


/*

################### Exhibit Hall Section ####################

*/
body.module1 #zone1,
body.module1 #zone2 {
	width:250px;
	margin:0px auto;
	opacity:0;
	cursor:pointer;
}
body.module1 #zone1 {
	position:relative;
	z-index:350;
	right:408px;
	top:285px;
}
body.module1 #zone2 {
	position:relative;
	z-index:350;
	left:234px;
	top:8px;
}
body.module1 #zone1Hover {
	top:-222px;
	right:325px;
}
body.module1 #zone2Hover {
	top:-350px;
	right:70px;
}
body.module2 #zone1,
body.module2 #zone2 {
	width:250px;
	margin:0px auto;
	opacity:0;
	cursor:pointer;
}
body.module2 #zone1 {
	position:relative;
	z-index:350;
	right:53px;
	top:310px;
}
body.module2 #zone1Hover {
	top:0px;
	left:-200px;
}
#zone1Hover, /* Text bubble across all modules */
#zone2Hover {
	width:500px;
	background:rgba(75,75,75,0.8);
	border-radius:20px;
	padding:25px;
	color:#FFF;
	margin:0px auto;
	position:relative;
	border:2px solid #f1cb31;
	display:none;
}
#zone1Hover h3,
#zone2Hover h3 {
	margin:0px;
	color:#f1cb31;
}
div.blackout {
	position:absolute;
	z-index:-1;
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	background:rgba(0,0,0,0.5);
	display:none;
}


/*

################### Video Section ####################

*/
#video_console {
	background-image:url("../images/lowerBG.png");
	background-position:top center;
	background-repeat:no-repeat;
	height:0px;
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
}
#video_content {
	display:none;
	width:920px;
	margin:140px auto 0px auto;
	position:relative;
	z-index:100 !important;
}
#video_close { /* CHANGE TO CLASS */
	background:rgba(0,0,0,0.3);
	color:#FFF;
	border-radius:15px;
	height:22px;
	width:22px;
	text-align:center;
	float:right;
	border:2px solid #FFF;
	margin-right:-45px;
	margin-top:-35px;
	cursor:pointer;
	position:relative;
	padding:2px;
}
#video_player {
	width:918px;
	height:514px;
	margin:0px auto;
	position:relative;
}
#video_captions {
	height:70px;
	color:#fff;
	text-shadow:0px 0px 4px #000;
	position:relative;
	padding:20px;
}


/*

###################### EXERCISE ONE ########################

*/
#exer1 {
	display:none;
}
body.module1 #exer1 #options {
	display:none;
	color:#fff;
	position:relative;
	z-index:300;
	width:700px;
	margin:0px auto;
}
body.module1 #exer1 #option1 { margin-right: 100px; }
body.module1 #exer1 #option3 { margin-right: 100px; }

body.module1 #exer1 #options #section1,
body.module1 #exer1 #options #section2 {
	clear:both;
	font-size:55px;
}

/* --- Controls space around dashes for Module 1, Exercise 1 --- */
body.module1 #exer1 #options #dash-saur-left { padding:0px 30px 0px 102px; }
body.module1 #exer1 #options #dash-saur-right { padding:0px 30px 0px 102px; }
body.module1 #exer1 #options #dash-ornith-left { padding:0px 30px 0px 66px; }
body.module1 #exer1 #options #dash-ornith-right { padding:0px 30px 0px 102px; }
/* -------------------------------------------------------------- */

body.module1 #exer1 #options .box { 
	background:rgba(243,204,48,0.85);
}
body.module1 #exer1 .selectWords { /* make sure to change "words" to "selectWords" in JS */
	font-size:60px;
	padding-top:200px;
	color:#f1cb31;
	text-shadow:0px 0px 6px rgba(0,0,0,0.6);
	/*display:none;*/
}
body.module1 #exer1 #word1 {
	cursor:move;
	transform:rotate(-17deg);
	-ms-transform:rotate(-17deg); /* IE 9 */
	-webkit-transform:rotate(-17deg); /* Opera, Chrome, and Safari */
	padding-left:200px;
	padding-right:160px;
}
body.module1 #exer1 #word2 {
	cursor:move;
	transform:rotate(17deg);
	-ms-transform:rotate(17deg); /* IE 9 */
	-webkit-transform:rotate(17deg); /* Opera, Chrome, and Safari */
	padding-right:160px;
}
body.module1 #exer1 #word3 {
	cursor:move;
	transform:rotate(-17deg);
	-ms-transform:rotate(-17deg); /* IE 9 */
	-webkit-transform:rotate(-17deg); /* Opera, Chrome, and Safari */
}

/* ----------------- Exercise 1 for Module 2 ------------------- */
body.module2 #exer1 #dino1 {
	background-image:url("../images/mod2/ovir-exer4.png");
	background-repeat:no-repeat;
	width:163px;
	height:122px; 
	position:relative;
	top:80px;
	z-index:5;
}
body.module2 #exer1 #dino2 {
	background-image:url("../images/mod2/tric-exer4.png");
	background-repeat:no-repeat;
	width:252px;
	height:124px;
	position:relative;
	top:-115px;
	left:105px;
	z-index:4;
}
body.module2 #exer1 #dino3 {
	background-image:url("../images/mod2/ceti-exer4.png");
	background-repeat:no-repeat;
	width:452px;
	height:174px;
	position:relative;
	top:-350px;
	left:200px;
	z-index:3;
}
body.module2 #exer1 #dino4 {
	background-image:url("../images/mod2/plat-exer4.png");
	background-repeat:no-repeat;
	width:326px;
	height:168px;
	position:relative;
	top:-423px;
	left:620px;
	z-index:2;
}
body.module2 #exer1 #dino3.success {
	background-image:url("../images/mod2/ceti-correct.png") !important;
}
body.module2 #exer1 #dino4.success {
	background-image:url("../images/mod2/plat-correct.png") !important;
}
body.module2 #exer1 #text {
	margin:135px auto;
}


/*

###################### EXERCISE TWO ########################

*/
#exer2 {
	display:none;
}
body.module1 #exer2 #options {
	display:none;
	color:#333;
	position:relative;
	z-index:300;
	width:720px;
	margin:0px auto;
	background-image:url("../images/mod1/exer2bones.png");
	background-position:top center;
	background-repeat:no-repeat;
	height:400px;
}
body.module1 #exer2 #options .box {
	background:rgba(253,246,229,0.85);
}
body.module1 #exer2 #options .box:nth-child(2) {
	position:relative;
	top:180px;
	left:360px;
}
body.module1 #exer2 #options .box:nth-child(3) {
	position:relative;
	top:240px;
	right:330px;
}
body.module1 #exer2 .selectWords {
	/*display:none;*/
	padding:45px 110px;
	color:#333;
	font-size:45px;
	text-shadow:0px 0px 8px #000;
}
body.module1 #exer2 #word1 {
	cursor:move;
	padding-left:80px;
	padding-right:160px;
}
body.module1 #exer2 #word2 {
	cursor:move;
	padding-right:160px;
}
body.module1 #exer2 #word3 {
	cursor:move;
}

/* ----------------- Exercise 2 for Module 2 ------------------- */
body.module2 #exer2 #selectFood {
	width:600px;
	margin:0px auto;
}
body.module2 #exer2 #selectFood #meat-left img {
	position:relative;
	top:-105px;
}
body.module2 #exer2 #selectFood #leaf-left img {
	position:relative;
	top:-95px;
	left:35px;
	margin-right:223px;
}
body.module2 #exer2 #selectFood #meat-right img {
	position:relative;
	top:-130px;
}
body.module2 #exer2 #selectFood #leaf-right img {
	position:relative;
	top:-130px;
	left:30px;
}
body.module2 #exer2 #dino1 {
	background-image:url("../images/mod2/plat-eating.png");
	background-repeat:no-repeat;
	position:relative;
	width:398px;
	height:199px;
	margin:0px auto;
	top:-132px;
	left:-230px;
	z-index:-1;
}
body.module2 #exer2 #dino2 {
	background-image:url("../images/mod2/ceti-eating.png");
	background-repeat:no-repeat;
	position:relative;
	width:515px;
	height:201px;
	margin:0px auto; 
	top:-330px;
	left:300px;
	z-index:-1;
}
body.module2 #exer2 #dino2.success {
	background-image:url("../images/mod2/ceti-correct.png") !important;
}
body.module2 #exer2 #dino3.success {
	background-image:url("../images/mod2/plat-correct.png") !important;
}
body.module2 #exer2 #text {
	margin:60px auto;
}

/*

##################### EXERCISE THREE ########################

*/
#exer3 {
	display:none;
}
body.module1 #exer3 #dino1 {
	background-image:url("../images/tric.png");
	background-repeat:no-repeat;
	width:267px;
	height:131px; 
	position:relative;
	top:72px;
	z-index:5;
}
body.module1 #exer3 #dino2 {
	background-image:url("../images/ovir.png");
	background-repeat:no-repeat;
	width:285px;
	height:213px;
	position:relative;
	top:-142px;
	left:290px;
	z-index:4;
}
body.module1 #exer3 #dino3 {
	background-image:url("../images/anky.png");
	background-repeat:no-repeat;
	width:318px;
	height:106px;
	position:relative;
	top:-250px;
	left:590px;
	z-index:3;
}
body.module1 #exer3 #dino1.success {
	background-image:url("../images/mod1/tric-correct.png") !important;
}
body.module1 #exer3 #dino2.success {
	background-image:url("../images/mod1/ovir-correct.png") !important;
}
body.module1 #exer3 #dino3.success {
	background-image:url("../images/mod1/anky-correct.png") !important;
}
body.module1 #exer3 #selectHips {
	width:390px;
	margin:0px auto;
	padding:40px;
}
body.module1 #exer3 #selectHips #hips1 img {
	margin-right:200px;
}


/*

################### Unlock Section ####################

*/
#unlocked {
	display:none;
}
#unlocked #lock {
	display:none;
	height:550px;
	-webkit-transition:background 0.5s ease-in-out;
    -moz-transition:background 0.5s ease-in-out;
    -o-transition:background 0.5s ease-in-out;
    -ms-transition:background 0.5s ease-in-out;
    transition:background 0.5s ease-in-out;
	background-image:url("../images/locked.png");
	background-position:bottom center;
	background-repeat:no-repeat;
}
#unlocked #console {
	height:330px;
	background-image:url("../images/lowerBG.png");
	background-position:top center;
	background-repeat:no-repeat;
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
}
#unlocked #console #unlocked_close {
	background:rgba(0,0,0,0.3);
	color:#FFF;
	border-radius:15px;
	height:22px;
	width:22px;
	text-align:center;
	float:right;
	border:2px solid #FFF;
	cursor:pointer;
	position:relative;
	padding:2px;
	margin-top:-40px;
	margin-right:-80px;
	font-size:16px;
}
#unlocked #console #text {
	color:#FFF;
	width:850px;
	margin:0px auto;
	padding:20px 35px;
	font-size:22px;
	display:none;
	clear:both;
	text-shadow:0px 0px 6px #000;
	margin-top:125px;
}


/*

################### Slides Section ####################

*/
#identification {
	display:none;
}
#identification #slider {
	display:none;
	position:relative; 
	top:0px; 
	left:0px;
    margin:0px auto;
}
#identification #slides {
	cursor:move;
	position:absolute;
	left:0px;
	top:0px;
	overflow:hidden;
}
/* jssor slider arrow navigator skin 03 css */
/*
.jssora03l              (normal)
.jssora03r              (normal)
.jssora03l:hover        (normal mouseover)
.jssora03r:hover        (normal mouseover)
.jssora03ldn            (mousedown)
.jssora03rdn            (mousedown)
*/
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
{
	position:absolute;
	cursor:pointer;
	display:block;
    background:url(../images/a03.png) no-repeat;
    overflow:hidden;
}
.jssora03l { background-position:-3px -33px; }
.jssora03r { background-position:-63px -33px; }
.jssora03l:hover { background-position:-123px -33px; }
.jssora03r:hover { background-position:-183px -33px; }
.jssora03ldn { background-position:-243px -33px; }
.jssora03rdn { background-position:-303px -33px; }

#identification #console {
	height:330px;
	background-image:url("../images/lowerBG.png");
	background-position:top center;
	background-repeat:no-repeat;
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
}
#identification #console #identify_close {
	background:rgba(0,0,0,0.3);
	color:#FFF;
	border-radius:15px;
	height:22px;
	width:22px;
	text-align:center;
	float:right;
	border:2px solid #FFF;
	cursor:pointer;
	position:relative;
	padding:2px;
	margin-top:-40px;
	margin-right:-80px;
	font-size:16px;
}
#identification #console #text {
	color:#FFF;
	width:850px;
	margin:0px auto;
	padding:20px 35px;
	font-size:22px;
	display:none;
	clear:both;
	text-shadow:0px 0px 6px #000;
	margin-top:125px;
}


/*

################### 3-D Section ####################

*/
#threeDmodel {
	display:none;
}
#threeDmodel #console {
	background-image:url("../images/lowerBG.png");
	background-position:top center;
	background-repeat:no-repeat;
	height:0px;
	position:absolute;
	bottom:0px;
	right:0px;
	left:0px;
}
#threeDmodel #threeDcontent {
	width:940px;
	padding:20px;
	margin:0px auto;
	margin-top:115px;
	position:relative;
	z-index:100 !important;
	height:514px;
}
#threeDclose {
	display:none;
	background:rgba(0,0,0,0.3);
	color:#FFF;
	border-radius:15px;
	height:22px;
	width:22px;
	text-align:center;
	float:right;
	border:2px solid #FFF;
	margin-top:-35px;
	margin-right:-35px;
	cursor:pointer;
	position:relative;
	padding:2px;
}
#hips {
	display:none;
}
#hips #hip1,
#hips #hip2 {
	float:left;
	width:50%;
	height:514px;
	cursor:pointer;
}
#threeDmodel #console #text {
	color:#FFF;
	width:850px;
	margin:0px auto;
	padding:0px 35px;
	display:none;
	clear:both;
	text-shadow:0px 0px 6px #000;
}


/*

################### Footer Section ####################

*/
#footer {
	position:absolute;
	background-color:#162235;
	bottom:0px;
	right:0px;
	left:0px;
	padding:15px;
	color:#FFF;
	font-size:12px;
	box-shadow:0px 0px 45px #000;
	z-index:1000;
	min-width:1200px;
}
#show {
	float:right;
	cursor:pointer;
	padding-right:25px;
	background-image:url("../images/up.png");
	background-position:center right;
	background-repeat:no-repeat;
	font-weight:bold;
	color:#f1cb31;
}
#show.up {
	background-image:url("../images/down.png");
}
#footer #more_info {
	display:none;
	padding:25px;
}
#footer #more_info .cols {
	float:left;
	width:33.3%;
}


/*

################### Adaptablitiy Section ######################

*/
@media screen and (max-width:1200px), all and (max-height:850px) {
/* Photoshop re-size number:65.32% */
body.module1 {
	background-image:url("../images/mod1/module1BG-small.jpg");
	background-position:center 50px;
}

/*--------------------- Header Section ----------------------*/
#header {
	height:62px;
}
#header img {
	height:180px;
	width:175px;	
}
#header a {
	position:relative;
	top:-20px;
}

/*--------------------- Subnav Section ---------------------*/
body.module1 #subnav_content {
	width:815px; /* Ensures margin:0px auto works and links are centered to page */
}
#subnav {
	height:165px;
}
#subnav a {
	font-size:72%;
	margin:0px 9px;
}

/*-------------------- Content Section ---------------------*/
.box {
	width:130px;
	height:25px;
	padding:9px 9px 18px 9px;
	font-size:28px;
}
.close-exer {
	margin-top:-50px;
	margin-right:-60px;
}
#console {
	height:310px;
	background-image:url("../images/lowerBG-small.png");
}
#dinoImages {
	width:772px;
	height:228px;
	top:-13px;
}
#drawer {
	background-image:url("../images/drawer-small.png");
	height: 132px !important;
	width:772px;
	margin:-20px auto 0px auto !important;
}
#forest {
	background-image:url("../images/forest-small.png");
	bottom:230px;
}
#pond {
	background-image:url("../images/pond-small.png");
	margin-top:-125px !important;
	height:220px !important;
}
#text {
	font-size:18px;
	width:650px;
}

/*------------------ Exhibit Hall Section ------------------*/
body.module1 #zone1 {
	right:222px;
	top:198px;
}
body.module1 #zone2 {
	left:197px;
	top:15px;
}
#zone1Hover,
#zone2Hover {
	width:400px;
	top:0px;
	right:0px;
}
#zone1Hover p,
#zone2Hover p {
	font-size:85%;
}
body.module1 #zone1Hover {
	top:-20px;
	left:-60px;
}
body.module1 #zone2Hover {
	top:-250px;
	right:100px;
}

/*-------------------- Video Section --------------------*/
#video_console {
	background-image:url("../images/lowerBG-small.png");
	background-position:top center;
	background-repeat:no-repeat;
	height:0px;
	position:absolute;
	right:0px;
	left:0px;
	/*top:20px; Remove, makes console show up from the top, not the bottom */
}
#video_content {
	display:none;
	width:680px; /* Won't adjust video, since it's height is determined in projekktor, dino.js */
	margin:110px auto 0px auto;
	position:relative;
	z-index:100 !important;
}
#video_close {
	background:rgba(0,0,0,0.3);
	color:#FFF;
	border-radius:15px;
	height:22px;
	width:22px;
	text-align:center;
	float:right;
	border:2px solid #FFF;
	margin-right:-35px;
	cursor:pointer;
	position:relative;
	padding:2px;
}
#video_player {
	width:680px;
	height:390px;
	margin:0px auto;
	position:relative;
}
#video_captions {
	height:70px;
	color:#fff;
	text-shadow:0px 0px 4px #000;
	position:relative;
	padding:20px;
}

/*---------------- Exercise 1, Module 1 Section ---------------*/
body.module1 #exer1 .selectWords {
	font-size:40px;
	padding-top:140px;
	padding-left:80px;
}
body.module1 #exer1 #word1 {
	padding-right:140px;
}
body.module1 #exer1 #word2 {
	padding-right:140px;
}
body.module1 #exer1 #options {
	width:643px;
	left:50px;
	top:-50px;
}
body.module1 #exer1 #options #section1,
body.module1 #exer1 #options #section2 {
	font-size:40px;
}

#dash-saur-left { padding:0px 35px 0px 107px; }
#dash-saur-right { padding:0px 40px 0px 102px; }
#dash-ornith-left { padding:0px 35px 0px 80px; }
#dash-ornith-right { padding:0px 40px 0px 102px; }

/*---------------- Exercise 2 Module 1 Section ---------------*/
body.module1 #exer2 #options {
	background-image:url("../images/mod1/exer2bones-small.png");
	width:600px;
	height:260px;
}
body.module1 #exer2 #options .box:nth-child(1) {
	position:relative;
	top:-20px;
	left:30px;
}
body.module1 #exer2 #options .box:nth-child(2) {
	position:relative;
	top:110px;
	left:270px;
}
body.module1 #exer2 #options .box:nth-child(3) {
	position:relative;
	top:170px;
	right:240px;
}
body.module1 #exer2 .selectWords {
	font-size:34px;
	padding:35px 128px;
}
body.module1 #exer2 #word1 { 
	padding-left:0px;
	padding-right:110px; 
}
body.module1 #exer2 #word2 {
	padding-right:110px;
}

/*---------------- Exercise 3 Module 1 Section ---------------*/
body.module1 #exer3 #dino1 {
	background-image:url("../images/tric-small.png");
	width:203px;
	height:100px;
	top:40px;
}
body.module1 #exer3 #dino2 {
	background-image:url("../images/ovir-small.png");
	width:217px;
	height:162px;
	top:-120px;
	left:220px;
}
body.module1 #exer3 #dino3 {
	background-image:url("../images/anky-small.png");
	width:242px;
	height:81px;
	top:-205px;
	left:450px;
}
body.module1 #exer3 #dino1.success {
	background-image:url("../images/mod1/tric-correct-small.png") !important;
}
body.module1 #exer3 #dino2.success {
	background-image:url("../images/mod1/ovir-correct-small.png") !important;
}
body.module1 #exer3 #dino3.success {
	background-image:url("../images/mod1/anky-correct-small.png") !important;
}
body.module1 #exer3 #selectHips {
	width:390px;
	padding:25px;
}
body.module1 #exer3 #selectHips #hips1 img {
	margin-right:200px;
}

/*------------------ Unlocked Section -----------------*/
#unlocked #console {
	height:310px;
	background-image:url("../images/lowerBG-small.png");
}
#unlocked #console #unlocked_close {
	margin-top:-50px;
	margin-right:-60px;
}
#unlocked #console #text {
	font-size:18px;
	width:650px;
	padding:0px;
}

/*------------------ Slides Section -----------------*/
#identification {
	display:none;
}
#identification #slider,
#identification #slides {
	width:680px !important;
}
#identification #console {
	height:310px;
	background-image:url("../images/lowerBG-small.png");
}
#identification #console #identify_close {
	margin-top:-50px;
	margin-right:-60px;
}
#identification #console #text {
	font-size:18px;
	width:650px;
	padding:0px;
}
span#arrowleft {
	left:-82px !important;
}
span#arrowright{
	right:128px !important;
}

/*------------------ 3-D Section -----------------*/
#threeDmodel {
	display:none;
}
#threeDmodel #console {
	height:670px !important;
	background-image:url("../images/lowerBG-small.png");
}
#threeDmodel #threeDcontent {
	width:738px;
	height:390px;
	padding:0px;
	margin-top:87px;
}
#threeDclose {
	margin-top:-15px;
}
#hips {
	margin-left:80px;
}
#hips #hip1,
#hips #hip2 {
	float:left;
	width:50%;
	height:380px;
}
iframe#orni_hip, iframe#sauri_hip {
	width:85% !important;
	height:85% !important;
}
#threeDmodel #console #text {
	width:650px;
	padding:0px;
}